@import url("https://fonts.googleapis.com/css2?family=Exo:ital@1&family=Noto+Sans+JP:wght@100;400;500;700&display=swap");

header {
  font-family: "Noto Sans JP", sans-serif;
}
.header {
  display: flex;
  height: 85px;
  z-index: 5;
}

.header .nav-links li {
  display: inline-block;
  font-weight: 600;
}

.header .nav-links li:hover {
  transform: scale(1.1);
  box-shadow: #2e2f30;
}

.header .nav-links a {
  font-size: 700;
  color: #eceff1;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #f74702 !important;
  border-radius: 50%;
}

.imgLogo {
  height: 3rem;
}
button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

#desktop {
  display: block;
}
#mobileFirst {
  display: none;
}

/*
control de los nav version mobile y desktop
*/
@media screen and (max-width: 991px) {
  #desktop {
    display: none;
  }
  #mobileFirst {
    display: block;
  }
}

.activePage {
  color: #f74702;
}

.activeLink {
  /* Estilos específicos para cuando el enlace está activo */
  font-weight: bold; /* Puedes ajustar según tus preferencias */
  color: #f74702; /* Puedes ajustar según tus preferencias */
}

.btnLg {
  background-color: #f74702;
  color: #f3f4f6;
  border: #eceff1;
}
.btnLg:hover {
  background-color: #e66b07;
  color: #f3f4f6;
  border: #eceff1;
}

.btnSg {
  background-color: #ff5100 !important;
  border: #eceff1;
  color: #f3f4f6;
}
.btnSg:hover {
  background-color: #b60606 !important;
  border: #050505;
  color: #050505;
}
