h1{
    font-size: 85px;
    font-weight: bold;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.932);
}

h2{
    font-size: 55px;
    font-weight: bold;
    text-shadow: 5px 5px 1px rgba(20, 20, 20, 0.932);
}

.article-container {
    position: relative;
}

.article-container img {
    width: 100%;
    height: auto;
    display: block;
}

.first-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Ajusta el color según sea necesario */
}
  
  .first-text h1,
  .first-text h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.grill-image{
    height: 100%;
    width: 100%;
}
  
.grill-subtitle{
    margin-top: 6%;
    font-size: 50px;
    font-weight: bold;
}

.grill-text{
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 7%;
}

.back-three{
    background-color: #3e1706;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.first-member{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.second-member{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.third-member{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}



@media (max-width: 767px) {
    #mobileFirst{
        height: 0;
    }
    
    .header{
        height: 0;
    }
    
    h1{
        font-size: 25px;
        position: relative;
        bottom: 300px;
        text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.932);
    }
    
    h2{
        font-size: 18px;
        position: relative;
        bottom: 320px;
        text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.932);
    }
      
    .grill-subtitle{
        font-size: 20px;
    }
    
    .grill-text{
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
#mobileFirst{
    height: 0;
}

.header{
    height: 0;
}

h1{
    font-size: 45px;
    position: relative;
    bottom: 260px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.932);
}

h2{
    font-size: 35px;
    position: relative;
    bottom: 260px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.932);
}
  
.grill-subtitle{
    font-size: 35px;
}

.grill-text{
    font-size: 14px;
}
    
}

