.photo-error{
    display: flex;
    align-content: center;
    max-width: 30%;
    height: auto;
    margin-top: 5%;
}

@media (max-width: 767px) {
    .photo-error{
    max-width: 120%;
    height: auto;
    display: block;
    margin-top: 5%;
}
}

@media (max-width: 1024px) {
    .photo-error{
    max-width: 70%;
    height: auto;
    display: block;
    margin-top: 28%;
}
}