.photo-error{
    display: flex;
    align-content: center;
    max-width: 30%;
    height: auto;
    margin-top: 7%;
}

@media (max-width: 767px) {
    .photo-error{
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20%;
}
}

@media (max-width: 1024px) {
    .photo-error{
    max-width: 70%;
    height: auto;
    display: block;
    margin-top: 10%;
}
}