.footer-section{ 
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.footer-title{
    font-size: 28px;
}

.img-apple, .img-google{
    width: 18%;

    &:hover{
        cursor: pointer;
    }
}

.links-footer{
    text-decoration: none;
}

.list-footer{
    list-style: none;
}