@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;800&display=swap");

:root {
  --primary-color: #ffb703;
  --secondary-color: #e97700;
  --tertiary-color: #d1470b;
  --red: #cd1d00;
  --background: #fafafa;
  --shadow: #dcdbdb;
  --black: #020202;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

#root {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 25px;
}

.header {
  flex-shrink: 0;
  padding: 1rem 0 0.5rem 0;
}

footer{
  flex-shrink: 0;
}